<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
    <div th:fragment="navbar">
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom py-3">
            <div class="container">
                <a class="navbar-brand fw-bold text-neon-purple" th:href="@{/}">
                    <i class="bi bi-controller"></i> NEXUS GAMES
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/}">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/categorias}">Categorías</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/videojuegos}">Catálogo</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                            <a class="nav-link text-neon-green" th:href="@{/usuarios}">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-neon-purple" th:href="@{/chat}"><i class="bi bi-chat-dots"></i> Chat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/tiendas}"><i class="bi bi-geo-alt"></i> Dónde Estamos</a>
                        </li>
                        <li class="nav-item">
                         <a class="nav-link text-neon-green" th:href="@{/carrito}"><i class="bi bi-cart3"></i> Carrito</a>
                     	</li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item d-flex align-items-center">
                            <a th:href="@{/perfil}" class="me-3 text-secondary text-decoration-none nav-profile-link">
                                Hola, <span class="text-neon-purple fw-bold" sec:authentication="name">Usuario</span>
                            </a>
                            <form th:action="@{/logout}" method="post" class="m-0">
                                <button type="submit" class="btn btn-neon btn-sm">Salir</button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</body>
</html>